/* ~~~~~~~~~~~~~ */
/*   html,body   */
/* ~~~~~~~~~~~~~ */
html,body {
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: Arial, sans-serif;
		font-size: 11px;
		/* overflow: hidden; /* might miss 2px due to border on header & footer */
	}
	
img {
		border: none;
	}

/* ~~~~~~~~~~~~~~ */
/*   layout css   */
/* ~~~~~~~~~~~~~~ */
#header {
		height: 5%;
		background-color: #ddd;
		border-bottom: 1px solid gray;
		text-align: center;
	}

.column {
		float: left;
		height: 90%;
		/* overflow: scroll; */
	}

#left {
		overflow: auto;
	}
	
.columnseparator {
		float: left;
		width: 1px;
		background-color: gray;
		cursor: e-resize;
		height: 90%;
	}

.rowseparator {
		height: 1px;
		background-color: gray;
		width: 100%;
	}

/* ~~~~~~~~~ */
/*   footer  */
/* ~~~~~~~~~ */
#footer {
		clear: both;
		background-color: #ddd;
		border-top: 1px solid gray;
		text-align: center;
		height:5%;			/* Height of the footer */
	}

/* ~~~~~~~~~~~~~~~~~~ */
/* hyperlink defaults */
/* ~~~~~~~~~~~~~~~~~~ */
a:link,
a:visited,
a:hover {
        color: #000000;
        text-decoration:none;        
    }

a:hover {
        color: #0000c9;
    }

a.display {
	float: right;
	margin-right: 2px;
}

/* ~~~~ */
/*  td  */
/* ~~~~ */

td {
		font-family: Arial, sans-serif;
		font-size: 11px;
	}
	
/* ~~~~~~~~ */
/*  heading  */
/* ~~~~~~~~ */
div.heading {
		background: #222222;
		color: #ffffff;
		border-top: solid 2px #999999;
		border-left: solid 2px #999999;
		border-right: solid 2px #000000;
		border-bottom: solid 2px #000000;
		margin: 2px;
		height: 16px;
	}

div.heading h1 {
		margin-top: 0px;
		margin-left: 5px;
	}

/* ~~~~~~~ */
/*  lists  */
/* ~~~~~~~ */
ul {
        list-style: none;
        margin: 0px;
		padding-left: 20px;
	}

h1 {
		font-size: 14px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	
div#commandlist {
		border-top: solid 1px #000000;
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	
div#commandlistseparator {
		cursor: n-resize;
	}
	
div#actionlist {
		margin-left: 2px;
		margin-top: 2px;
		width: 100%;
		overflow-x: hidden;
	}

div#actionlist li,
div#commandlist li {
		cursor: pointer;
	}

div#actionlist li.current,
div#commandlist li.current {
		list-style: circle;
	}

table#responsetable {
		margin-left: 2px;
	}
	
div#actionresponse {
		overflow: scroll;
		height: 90%;
		width: 100%;
		margin-right: 2px;
	}

div#responsenavigationheader,
div#responsenavigationfooter {
		border-bottom: solid 1px #000000;
		width: 100%;
		text-align: center;
		font-style: italic;
	}

 div#responsenavigationfooter {
		border-top: solid 1px #000000;
		border-bottom: none;
	}
