/* ~~~~~~~~~~ */
/*   global   */
/* ~~~~~~~~~~ */
html,body {
        margin:0;
        padding:0;
        width: 100%;
		font-family: Arial, sans-serif;
		font-size: 11px;
	}

img {
        border:0;
        float: left;
    }

ul {
        list-style: none;
        margin: 0px;
		padding-left: 10px;
	}

h1 {
		font-size: 14px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
/* ~~~~~~~~~~~~~~~~~~ */
/* hyperlink defaults */
/* ~~~~~~~~~~~~~~~~~~ */
a:link,
a:visited,
a:hover {
        color: #000000;
        text-decoration:none;        
    }

a:hover {
        color: #0000c9;
    }

a.complete:link, 
a.complete:visited {
	color: #990000;
}

a.complete:hover {
	color: #ff0000;
}

a.display {
	float: right;
}

/* ~~~~~~~~ */
/*   main   */
/* ~~~~~~~~ */
div#main {    
        position: absolute;     
        left: 50%;     
        width: 100%;
        margin-top: 5px;
        margin-left: -50%;
    }

/* ~~~~~~~~~ */
/*  columns  */
/* ~~~~~~~~~ */
div#left {
		float: left;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-left: 10px;
		width: 45%;
	}
	
div#center {
		float: left;
		width: 150px;
		border-left: solid 1px #000000;
		border-right: solid 1px #000000;
		padding: 0 5px;
	}

div#right {
		float: left;
		padding: 0 10px;
		width: 38%;
	}

div#right td {
		font-family: Arial, sans-serif;
		font-size: 11px;
}

/* ~~~~~~~ */
/*  lists  */
/* ~~~~~~~ */
div#commandlist {
		border-top: solid 1px #000000;
		overflow: auto;
		height: 725px;
	}

div#actionlist {
		border-top: solid 1px #000000;
		border-bottom: solid 1px #000000;
	}
	
div#actionresponse {
		overflow: auto;
		border-top: solid 1px #000000;
		height: 540px;
	}


